.container {
  background: url('assets/Manufacturer_bg.png') center/cover no-repeat;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background: #f7f7f2; 
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.form-container img {
  display: flex;
  width: 10px; 
  height: 10px; 
  margin: 0 auto;
}

.login-container h2 {
  color:rgb(74, 2, 125);
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  left:50px;
 }

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color:rgb(74, 2, 125);
  display: flex;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color:rgb(206, 194, 215);
}

.form-group button {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 17px;
  background-color: rgb(65, 65, 181);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  margin-bottom: -2rem;
  cursor: pointer;
}

.options {
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.options label {
  font-size: 16px;
  color:rgb(74, 2, 125);
  display: flex;
  align-items: center;
}

.options input {
  margin-right: 5px;
}

@media only screen and (max-width: 844px) {
  .container {
   /* display: flex;*/
    width: 100%;
   /* overflow: scroll;
    flex-wrap: wrap;*/
    padding: 50px 0;
  }

 /* main {
    padding: 50px 0;
   /* flex-direction: column;
  }*/
}